ConnectCommandProject/SOA/Schemas/cyanApi4.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="jobConfiguration">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="commands" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="controlRequest"/>
                                        <xs:element type="xs:string" name="type"/>
                                        <xs:element type="xs:string" name="active"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="jobName"/>
                <xs:element type="xs:string" name="jobType"/>
                <xs:element type="xs:string" name="meterGroup"/>
                <xs:element type="xs:string" name="timeoutTime"/>
                <xs:element type="xs:string" name="scheduledTime"/>
                <xs:element type="xs:string" name="totalProcessedDevices"/>
                <xs:element type="xs:string" name="createTime"/>
                <xs:element type="xs:string" name="updateTime"/>
                <xs:element type="xs:string" name="totalFailedDevices"/>
                <xs:element type="xs:string" name="status"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
