ConnectCommandProject/SOA/WADLs/MeterGroupRestReference.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:qt="http://www.cyanconnode.com/Api/cyan" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="MeterGroupRestReference">RestReference</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.cyanconnode.com/Api/cyan" schemaLocation="../Schemas/CyanApi.xsd"/>
        </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/MeterGroupRestReference_createMeterGroup_response" schemaLocation="../Schemas/EmptyJson.xsd"/>
        </xsd:schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/ConnectCommandApplication/ConnectCommandProject/MeterGroupRestReference" elementFormDefault="qualified">
            <element name="empty">
                <complexType/>
            </element>
        </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/ConnectCommandApplication/ConnectCommandProject/MeterGroupRestReference" elementFormDefault="qualified">
            <element name="deleteMeterGroup_params">
                <complexType>
                    <sequence>
                        <element name="groupName" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
   </grammars>
   <resources>
      <resource path="/ws/meterGroup">
         <method name="POST" soa:wsdlOperation="createMeterGroup">
            <request>
               <representation mediaType="application/json" element="cns:MeterGroupRequest" xmlns:cns="http://www.cyanconnode.com/Api/cyan"/>
            </request>
            <response status="201">
               <representation mediaType="application/json" element="cns:Root-Element" xmlns:cns="http://TargetNamespace.com/MeterGroupRestReference_createMeterGroup_response"/>
            </response>
         </method>
      </resource>
      <resource path="/ws/meterGroup/{groupName}">
         <method name="DELETE" soa:wsdlOperation="deleteMeterGroup">
            <request soa:paramElement="pns:deleteMeterGroup_params" xmlns:pns="http://xmlns.oracle.com/ConnectCommandApplication/ConnectCommandProject/MeterGroupRestReference">
               <param name="groupName" style="template" soa:expression="$msg.request/pns:groupName" type="xsd:string"/>
            </request>
            <response status="204"/>
         </method>
      </resource>
   </resources>
</application>
