ConnectCommandProject/SOA/WSDLs/MeterGroupRestReference.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="MeterGroupRestReference"
     targetNamespace="http://xmlns.oracle.com/ConnectCommandApplication/ConnectCommandProject/MeterGroupRestReference"
     xmlns:tns="http://xmlns.oracle.com/ConnectCommandApplication/ConnectCommandProject/MeterGroupRestReference"
     xmlns:inp1="http://www.cyanconnode.com/Api/cyan"
     xmlns:inp2="http://TargetNamespace.com/MeterGroupRestReference_createMeterGroup_response"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:inp3="http://xmlns.oracle.com/ConnectCommandApplication/ConnectCommandProject/MeterGroupRestReference"
     xmlns:inp4="http://xmlns.oracle.com/ConnectCommandApplication/ConnectCommandProject/MeterGroupRestReference"
     xmlns:inp5="http://xmlns.oracle.com/ConnectCommandApplication/ConnectCommandProject/MeterGroupRestReference"
    >
    <plnk:partnerLinkType name="MeterGroupRestReference">
        <plnk:role name="MeterGroupRestReferenceProvider" portType="tns:MeterGroupRestReference_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.cyanconnode.com/Api/cyan" schemaLocation="../Schemas/CyanApi.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/MeterGroupRestReference_createMeterGroup_response"
                 schemaLocation="../Schemas/EmptyJson.xsd"/>
        </xsd:schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/ConnectCommandApplication/ConnectCommandProject/MeterGroupRestReference"
             elementFormDefault="qualified">
            <element name="empty">
                <complexType/>
            </element>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/ConnectCommandApplication/ConnectCommandProject/MeterGroupRestReference"
             elementFormDefault="qualified">
            <element name="deleteMeterGroup_params">
                <complexType>
                    <sequence>
                        <element name="groupName" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="createMeterGroup_inputMessage">
        <wsdl:part name="request" element="inp1:MeterGroupRequest"/>
    </wsdl:message>
    <wsdl:message name="createMeterGroup_outputMessage">
        <wsdl:part name="reply" element="inp2:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="deleteMeterGroup_inputMessage">
        <wsdl:part name="request" element="tns:deleteMeterGroup_params"/>
    </wsdl:message>
    <wsdl:message name="Rest_EmptyMessage">
        <wsdl:part name="Empty" element="tns:empty"/>
    </wsdl:message>
    <wsdl:portType name="MeterGroupRestReference_ptt">
        <wsdl:operation name="createMeterGroup">
            <wsdl:input message="tns:createMeterGroup_inputMessage"/>
            <wsdl:output message="tns:createMeterGroup_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteMeterGroup">
            <wsdl:input message="tns:Rest_EmptyMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="deleteMeterGroup">
            <wsdl:input message="tns:deleteMeterGroup_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
